<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: black;">
    <h1 style="color: yellow;">CHENNAI SUPER KINGS</h1>
    <h1 style="color: blue;">MUMBAI INDIANS</h1>
    <h1 style="color: red;">ROYAL CHALLENGERS BANGLORE</h1>
    <h1 style="color: rgb(83, 0, 128);">KOLKATA KNIGHT RIDERS</h1>
    <h1 style="color: rgb(237, 10, 207);">RAJASTHAN ROYALS</h1>
</body>
</html>